#form {
    background-color:cadetblue;
    font-size: 1.2em;
    color: #fff;
    padding: 28px;
    width: 60vw;
}

input, label {
    display: inline-block;
    padding: 5px;
    margin: 5px;
}

button {
    margin: 25px 5px;
    width: 6em;
    height: 2em;
    font-size: 16px;
    color: #fff;
    background-color: chocolate;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}